.dropdown:hover>.dropdown-menu {
    display: block;
    position: absolute;
    // left: 50px;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.account-btn {
    border: none !important;
    box-shadow: none;
    font-size: 30px;
    // background-color: red;
}

.dropdown-toggle:after {
    display: none;
}

.dropdown {
    padding: 0px !important;

    button {
        display: flex;
        align-items: center;
        gap: 0px;

        span {
            font-size: 30px !important;
        }

        .userName {
            font-weight: 900;
        }
    }
}