.cascading-right {
    margin-right: -50px;
}

@media (max-width: 900px) {
    .cascading-right {
        margin-right: 0;
    }
}

.container-fluid {
    width: 50%;
    height: 50vh;

    .card {
        margin: 20px 0 !important;
    }

}