.payment-container {
    width: 50%;
    height: 60%;
    border: 1px solid black;
    margin: 30px auto;
    font-size: 1rem;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: orange;
        font-size: 2rem;

    }

    .payment-element {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .render-items {
            display: flex;
            flex-direction: column;
            align-items: self-start;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}