* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box
}


.home_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .home_page_content {
        width: 100%;
        min-width: 1440px;
        height: 100%;

        .category {
            width: 100%;
            margin: 20px 0 0 0;

            h1 {}
        }

    }
}

@media only screen and (device-width: 768px) {

    /* For general iPad layouts */
    .home_page {
        display: block;
        position: absolute;
        left: 50%;
        top: 30px;
        margin-left: -500px;
        width: 994px;
        border: 4px;
        border-style: solid;
        border-color: #ffffff;
    }
}